.season-details {
  @apply border-0;
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 0.7s, padding 0.7s;

  &.visible {
    @apply border-t;
    @apply border-gray-200;
    max-height: 9999px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
